<% layout('layouts/boilerplate')%>

<h1>All RabbitBoards</h1>
<div>
    <a href="/rabbits/new">Add Board</a>
</div>
<% for (let board of boards){%>
<div class="card mb-3">
    <div class="row">
        <div class="col-md-4">
            <% if(board.images.length) {%> 
            <img class="img-fluid" alt="" src="<%=board.images[0].url%>">
            <% } else { %>
            <img class="img-fluid" alt="" src="https://t4.ftcdn.net/jpg/02/51/95/53/360_F_251955356_FAQH0U1y1TZw3ZcdPGybwUkH90a3VAhb.jpg">
            <% } %>  
        </div>
        <div class="col-md-8">
            <div class="card-body">
                <h4 class="card-title" href="/rabbits/<%=board._id%>"><%= board.title %> </h4>
                <p class="card-text"><%= board.description %></p>
                <a class="btn btn-primary" href="/rabbits/<%=board._id%>"><%=board.title%></a>
            </div>
        </div>
    </div>
</div>
<% }%>